header,
main,
footer {
margin: 0 auto;
padding: .5rem;
max-width: 1000px;
}


body {
background-image: url("/code/levelitup/cloud.gif");
}

main {
background: rgb(137, 164, 214);
text-align: center;
}

h1 {
    color: white;
}

h4 {
    color: rgb(137, 164, 214);
}

section {
    background: rgb(5, 5, 5);
}

hr.animationhr {
border: 7px solid rgb(255, 183, 183);
border-radius: 5px;
}

.animation1 {
width: 80px;
height: 80px;
background-color: rgb(202, 157, 228);
position: relative;
right: 350px;
-webkit-animation-name: reverse; 
-webkit-animation-duration: 3s; 
animation-name: animation01;
animation-duration: 3s;
animation-direction: reverse; 
animation-iteration-count: infinite; 
}

@keyframes animation01 {
0%   {background-color:rgb(202, 157, 228); left:0px; top:0px;}
25%  {background-color:rgb(128, 252, 200); left:200px; top:0px;}
50%  {background-color:rgb(222, 255, 145); left:200px; top:200px;}
75%  {background-color:rgb(255, 112, 248); left:0px; top:200px;}
100% {background-color:rgb(202, 157, 228); left:0px; top:0px;}
}
    
.animation2 {
width: 110px;
height: 110px;
background: url(/code/levelitup/moon.gif);
background-size: contain;
position: relative;
left: 800px;
-webkit-animation: animation02 4s; 
-webkit-animation-iteration-count: infinite; 
animation: animation02 4s;
animation-iteration-count: infinite;
}
  
@-webkit-keyframes animation02 { /* Safari */
from {top: 0px;}
to {top: 200px;}
}
  
@keyframes animation02 {
from {top: 0px;}
to {top: 200px;}
}

h2 {
margin: 0;
padding:0;
position: absolute;
top: 83%;
left: 20%;
transform: translateY(-10%);
color: white;
font-size: 5em;
letter-spacing: 0.3em;
}

h2 span {
opacity: 0;
display: inline-block;
animation: animate 2s linear forwards;
animation-iteration-count: infinite;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%
    {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}

section:before
{
content: '';
position: absolute;
top: 60;
left: 10;
width: 76.7%;
height: 15%;
background: linear-gradient(to right, rgb(142, 0, 170),rgb(247, 111, 229),rgb(255, 0, 128),rgb(13, 0, 192),rgb(143, 135, 255),#0ff);
mix-blend-mode: color;
pointer-events: none;
}
#myVideo {
    object-fit: cover;
    width: 100%;
    height: 100px;
}

h2 span:nth-child(1)
{
    animation-delay: 2s;
}
h2 span:nth-child(2)
{
    animation-delay: 2s;
}
h2 span:nth-child(3)
{
    animation-delay: 2s;
}
h2 span:nth-child(4)
{
    animation-delay: 2s;
}
h2 span:nth-child(5)
{
    animation-delay: 2s;
}
h2 span:nth-child(6)
{
    animation-delay: 2s;
}
