
header,
main,
footer {
margin: 0 auto;
padding: .5rem;
max-width: 1000px;
}

body {
font-family: 'Cinzel', serif;
}

main {
    background: rgb(255, 185, 212);
    font-family: 'Cinzel', serif;
    }
