

input[type="text"] {
	width: 250px;
	outline: none;
	padding: 5px;
	border: 2px solid #000;
	border-radius: none;
	margin: 6px 0px 10px 0px;
	transition: none;
	background-color: #d3ca4c;
}
h1 {
	margin-right: 100px;
	margin-left: 150px;
}

h2 {

	margin-right: 150px;
	margin-left: 20px;
	  
}

p {

	margin-right: 150px;
	margin-left: 20px;
  }

.button1 {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

.button2  {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

.button3  {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

.button4  {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

.button5  {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

input.placeholder1:focus {
	width: 250px;
	background-color: #d3ca4c;
}

input.placeholder2:focus {
	width: 250x;
	background-color: #d3ca4c;
}

input.placeholder3:focus {
	width: 250px;
	background-color: #d3ca4c;
}



