/* This is localstorage.css file for localstorage.html */



input[type="text"] {
	width: 350px;
	outline: none;
	padding: none;
	border: 3px solid #000;
	border-radius: none;
	margin: 6px 0px 10px 0px;
	transition: none;
	background-color: #d3ca4c;
}

input.placeholder1:focus {
	width: 500px;
	background-color: #d3ca4c;
}

input.placeholder2:focus {
	width: 500px;
	background-color: #d3ca4c;
}

input.placeholder3:focus {
	width: 500px;
	background-color: #d3ca4c;
}



