
input[type="text"] {
	width: 150px;
	outline: none;
	padding: 5px;
	border: 2px solid #000;
	border-radius: none;
	margin: 6px 0px 10px 0px;
	transition: none;
    background-color: #B0E0E6;
}

input.placeholder1:focus {
    width: 150px;
	background-color: #B0E0E6;
}

.button1 {background-color: #008CBA;
border: none;
color: white;
padding: 9px 9px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
margin: 4px 2px;
cursor: pointer;} 

