input.placeholder1:focus {
	width: 230px;
	background-color: #B0E0E6;
}

.button1 {background-color: #008CBA;
border: none;
color: white;
padding: 10px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
margin: 4px 2px;
cursor: pointer;} 

