input.placeholder1:focus {
	width: 200px;
	background-color: #B0E0E6;
}

.button1 {background-color: #008CBA;
border: none;
color: white;
padding: 8px 8px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 8px;
margin: 4px 2px;
cursor: pointer;} 

